<%= render 'header' %>


    <div class = "index_main">

        <div class = "form">
          <div class ="category_title">
            <p>ジャンル別</p>
          </div>

            <div class = "selectbox" >
              <%= form_tag("/channels/search", method: :get) do %>
              <%= select_tag 'category', options_for_select([["JPOP","UC9_8GJgclC_0xlz2MRmYmEQ"], ["R&B","UC4YT50DP7hbMsor8FmyEPMw"], ["HIPHOP","UCJhjE7wbdYAae1G25m0tHAA"], ["ロック","UCIVqvhyo8ttjYOmMJuhq_YQ"], ["クラシック","UCvSAywQ-c2kNmKCs0bmu2SA"],["レゲエ","UCiX-HGeGIXJLIexjt1jEjWg"]]) %>
              <br>
              <button type="submit" class="btn btn-primary">送信</button>
              <% end %>
            </div>
        </div>

        <div class = "form">
          <div class = "situation_title">
            <p>シチュエーション別</p>
          </div>

          <div class = "selectbox" >
            <%= form_tag("/channels/search", method: :get) do %>
            <%= select_tag 'category', options_for_select([["朝に聞きたい","UC9_8GJgclC_0xlz2MRmYmEQ"], ["元気を出したい","UC4YT50DP7hbMsor8FmyEPMw"], ["踊りたい","UCiX-HGeGIXJLIexjt1jEjWg"], ["泣きたい","UCIVqvhyo8ttjYOmMJuhq_YQ"], ["癒されたい","UCvSAywQ-c2kNmKCs0bmu2SA"],["集中したい","UCJhjE7wbdYAae1G25m0tHAA"]]) %>
            <br>
              <button type="submit" class="btn btn-danger">送信</button>
            <% end %>
          </div>
        </div>
    </div>
  </body>
</html>
